.slide {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  box-sizing: border-box;
  min-width: 317px;
  padding-top: 2rem;
  cursor: auto;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 500px;
  border-radius: 1.5rem;
  border: 1px solid black;
  
  transition:  all 700ms ease-in-out;
  .slide:hover & {
    border: 1px solid white;
    box-shadow: 0 25px 20px -12px rgba(0, 0, 0, 0.25);
  }
}

.image-wrapper {
  background: linear-gradient(108deg, rgb(250, 136, 5), rgb(105, 32, 197));
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 90%;
  border-radius: 1.5rem;
  margin-top: 1rem;

  transition:  all 700ms ease-in-out;
  .slide:hover & {
    width: 100%;
    margin: 0;
  }
}

.card-image {
  position: absolute;
  width: 100%;
  height: max-content;
  scale: 110%;
  z-index: 10;
  margin: auto;
  cursor: pointer;
  padding: 20px;
  top: 0;
  
  transition:  all 700ms ease-in-out;
  .slide:hover & {
    scale: 120%;
    top: -2rem;
  }

}

.content {
  position: relative;
  width: 85%;
  border-radius: 0.75rem;
  background-color: rgb(255, 255, 255);
  color: black;
  text-align: left;
  padding: 1rem;
  z-index: 10;
  margin-bottom: 0.1rem;

  h3 {
    margin-bottom: 0.5rem;
    font: 2rem;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 0.25rem;
    margin-top: 1.25rem;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
  }
}