section {
    &:last-child {
        padding-bottom: 4rem;
    }
}

.item {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding-bottom: 3rem;
    background-color: bisque;
    margin-top: -5rem;
    color: white;

    h3 {
        font-size: 2.5rem;
        padding: 0.5rem;
        margin: 1.5rem 0 0.5rem;
        text-align: center;
        font-weight: 500;
    }

    p {
        text-align: center;
        padding: 0rem 0.5rem 1rem;
        font-size: 1.2rem;
    }

    a {
        display: flex;
        width: 40%;
        margin: auto;
        background-color: white;
        color: black;
        border: 1px solid gray;
        font-weight: bold;
        border-radius: 2rem;
        align-items: center;
        justify-content: center;
    }

    .card-image {
        width: 100%;
    }

    &:last-child {
        margin-bottom: -2rem;
        padding-bottom: 1rem;
    }
}

.hero-container {
    z-index: 10;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: #fe0000;
    background-color: rgb(235, 223, 209);
    padding: 0 2rem;
    padding-top: 7rem;

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        column-gap: 2.5rem;
    }

    .container-flex {
        display: flex;
        flex-direction: column;
        grid-column: span 5;
        row-gap: 2.5rem;
    }
}


@media (min-width: 768px) {
    .hero-container {
        height: calc(100vh + 100px);
        padding: 0 4rem;
        padding-top: 7rem;

        .container-flex {
            grid-column: span 3;
        }
    }

}

@media (min-width: 1024px) {

    .container {
        max-width: 700px;

    }

    .item {
        padding: 3rem;

        h3 {
            font-size: 3.5rem;
        }
    }
}