.container{
    display: flex;
    flex-direction: column;
    padding: 7.5rem 2rem 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

    h1{
        font-size: 3rem;
        margin: 0 .5rem;
        padding: 0 1.5rem;
        font-weight: bold;
    }
    h2{
        font-size:1.5rem;
        padding-bottom: 0.75rem;
        font-weight:bold;
    }
    .card-image {
        width: 100%;
    }
    .feature-container{
        padding: 2rem;
        border-radius: 0.75rem;
        color: black;
        text-align: left;
        width: 100%;
        max-width: 48rem;
        > * + * {
           margin-top: 1.5rem;
        }
    }
    .panel-container{
        background-color: white;
        padding: 1rem;
        border-radius: 1.5rem;
        p{
            font-size: 1.25rem;
            text-align: left;
        }
        label{
            font-size: 1rem;
            font-weight: 500;
        }
        
    }
    .description{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
        padding: 0.5rem 0;
    }
    .summary-btn{
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        border-radius: 9999px;
        padding: 0.5rem 1rem;
        font-size: small;
        font-weight: 500;
        background-color: plum;
        color: black;
        cursor: pointer;

        &:hover{
            background-color: rgb(200, 145, 200);
        }
    }

}