.main-header {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  

  margin: 1.25rem 3rem;
  padding-left: 1rem;
  width: 100%;
  border-radius: 1000px;
  
  border: 2px solid white; 

  font-size: 1rem; 
  background: rgba(255, 0, 0, 0.315);
}

.nav-right{
  display: flex;
  background: transparent;
  padding: 0.5rem;
}

.mat-icon-class{
  display: inline-flex;
  background: transparent;
  border: 1px solid #3f2021; 
  border-radius: 50%;
  padding: 0.3rem;
}

.icon-cake{
    color: #3f2021;
    font-size: 2rem;
    height: max-content;
    width: max-content;
}

@media (min-width: 768px) {
  .nav-container {
    padding: auto 4rem;
  }
}

@media (min-width: 1024px) {

}