.nav-header {
    background: transparent;
    animation: header-blur-scroll 0.3s ease-in-out both;
    animation-timeline: scroll();
    animation-range: 0 250px;
    border-bottom: 1px solid transparent;
    transition:  all 700ms ease-in-out;
}

@keyframes header-blur-scroll {
    0% {
        background: transparent;
        backdrop-filter: blur(0px);
    }

    100% {
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
    }
}