.embla {
  overflow: hidden;
  width: 100%;
  margin: 2rem 0;
}

.embla__container {
  display: flex;
  margin: 0 2rem;
}

.embla__slide {
  flex: 0 0 100%;
  width: max-content;
  margin: 2rem 1rem 2rem 0rem;
}

@media (min-width: 768px) {

  .embla__slide {
    flex: 0 0 33%;
  }
}