.footer {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: aquamarine;
  color: rgb(255, 255, 255);
  font-family: 'Calistoga', serif;

  &-bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: bottom;
    padding: 0 1.5rem;
  }

  &-inner {
    position: relative;
    height: 100%;
    padding: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
  }

  &-content {
    p {
      margin: 0;
    }
  }

  &-socials {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;

    a {
      color: white;
      transition: color 0.3s ease;

      &:hover {
        color: #d1d5db; // gray-300
      }
    }

    .icon {
      width: 2rem;
      height: 2rem;
    }
  }
}
